*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../../../assets/fonts/MyriadPro-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../assets/fonts/NexaRegular.otf") format("opentype");
  font-weight: 400;
}

body,
input {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Verdana, sans-serif;
  color: #080b5f;
}

hr {
  border: 1px solid #e2efff;
  margin-top: 40px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 40px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container.px {
  width: 95%;
}

.container.py {
  padding: 60px 0;
}

.error {
  background-color: tomato;
  color: white;
  padding: 7px 25px;
  border-radius: 8px;
}

.success {
  background-color: lightgreen;
  color: white;
  padding: 7px 25px;
  border-radius: 8px;
}

.semibold {
  font-weight: 600;
}

.btn {
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.4s;
}

.btn-primary {
  background: #785dfb;
  color: white;
  border: 1px solid #785dfb;
}

.btn-primary:hover {
  background: #080b5f;
}

.btn-secondary {
  background: white;
  color: #080b5f;
  border: 1px solid #080b5f;
}

.btn-secondary:hover {
  background: #080b5f;
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER COMPONENT */

#admin-header {
  padding: 20px 0;
  background-color: #080b5f;
}

#admin-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-links .nav-link {
  color: white;
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
}

#nav-links .logout-btn {
  padding: 0;
  margin-left: 20px;
  background: transparent;
  color: white;
  font-size: 20px;
  transform: translateY(2px);
  cursor: pointer;
  border: none;
  outline: none;
}

#nav-links .nav-link:hover,
#nav-links .logout-btn:hover {
  color: yellow;
}

/* USER CARDS */

.users-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.user-card {
  border: 1px solid #785dfb;
  border-radius: 10px;
  overflow: hidden;
}

.user-card .profile-picture {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  position: relative;
}

.user-card .role {
  padding: 3px 9px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
}

.user-card .actions {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.action {
  background: white;
  width: 25px;
  height: 25px;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
}

.action.edit {
  background: #785dfb;
}
.action.edit:hover {
  background: #080b5f;
}
.action.delete {
  background: tomato;
}
.action.delete:hover {
  background: brown;
}
.action.view {
  background: lightskyblue;
}
.action.view:hover {
  background: teal;
}

.user-card .role.admin {
  background-color: yellow;
  color: #080b5f;
}

.user-card .role.user {
  background-color: #080b5f;
  color: white;
}

.user-card .user-data {
  padding: 10px;
}

.user-card .full-name {
  margin: 5px 0;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.user-card .username {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #785dfb;
}

.user-card .last-login {
  font-size: 14px;
}

/* ADMIN FORM */

.admin-form {
  margin-top: 40px;
  display: flex;
}

.admin-form .required {
  color: tomato;
}

.admin-form .data-section {
  width: 70%;
  padding-right: 60px;
}

.admin-form .manage-section {
  width: 30%;
  background: #e2efff;
  padding: 20px;
  border-radius: 10px;
}

.admin-form .input-wrapper {
  margin-bottom: 15px;
}

.admin-form .input-wrapper label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.admin-form .text-input label,
.admin-form .file-input label,
.admin-form .select-input label{
  display: block;
}

.admin-form .text-input input,
.admin-form .file-input input,
.admin-form .select-input select {
  display: block;
  width: 100%;
  padding: 7px 20px;
  font-size: 16px;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.admin-form #profile-picture-container {
  margin: 10px 0;
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  position: relative;
}

.admin-form #profile-picture-container .action {
  position: absolute;
  top: 10px;
  right: 10px;
}

.admin-form .file-input #profile-picture-container,
.admin-form .file-input input {
  display: none;
}

.admin-form .file-input #profile-picture-container.show,
.admin-form .file-input input.show {
  display: block;
}

/* REMOVE USER */

.remove-actions {
  margin-top: 60px;
}

.remove-actions form {
  display: inline;
}