*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "MyriadPro";
  src: url("../../../assets/fonts/MyriadPro-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Nexa";
  src: url("../../../assets/fonts/NexaRegular.otf") format("opentype");
  font-weight: 400;
}

body,
input {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Verdana, sans-serif;
  color: #080b5f;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.error {
  color: red;
}

.semibold {
  font-weight: 600;
}

.btn {
  border: none;
  border-radius: 25px;
  outline: none;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  transition: all 0.4s;
}

.btn-primary {
  background: #785dfb;
  color: white;
}

.btn-primary:hover {
  background: #080b5f;
}

/* HEADER COMPONENT */

#site-header {
  padding: 20px 0;
  background-color: #080b5f;
}

#site-header #site-logo {
  display: block;
  margin: 0 auto;
}

/* FOOTER COMPONENT */

#site-footer {
  padding: 60px 0;
  background-color: #e2efff;
}

#site-footer .footer-content {
  display: flex;
  margin-top: 12px;
}

#site-footer .copyright {
  width: 80%;
}

#site-footer .copyright p {
  max-width: 600px;
  margin: 0;
}

#site-footer .copyright hr {
  margin-top: 55px;
  margin-bottom: 15px;
  border: 4px solid #785dfb;
  max-width: 150px;
  margin-left: 0;
}

#site-footer .contact {
  width: 20%;
}

#site-footer .contact p,
#site-footer .contact h3 {
  margin: 5px 0;
}

#site-footer .contact .email-p {
  margin-top: 20px;
}

#site-footer .contact .icon-link {
  font-weight: 600;
  display: flex;
  align-items: center;
}

#site-footer .contact .icon-link:hover {
  color: #785dfb;
}

#site-footer .contact .icon-link.whatsapp-link svg {
  font-size: 20px;
}

#site-footer .contact .icon-link svg {
  margin-right: 7px;
}

@media screen and (max-width: 768px) {
  #site-footer .footer-content {
    flex-direction: column-reverse;
  }

  #site-footer .contact,
  #site-footer .copyright {
    width: 100%;
  }

  #site-footer .copyright hr {
    margin-top: 20px;
  }
}

/* LOGIN PAGE */

#login-page {
  padding: 60px 0;
}

#login-page .container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-page h1 {
  font-size: 24px;
  font-weight: 400;
}

#login-page .fields-container {
  margin: 20px 0;
  padding: 7px 0;
  outline: 2px solid #785dfb;
  border-radius: 30px;
}

#login-page .custom-input {
  display: block;
  width: 450px;
  padding: 14px 30px;
  outline: none;
  border: none;
  font-size: 18px;
}

#login-page .custom-input:last-of-type {
  border-top: 2px solid #785dfb;
}

#login-page .btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}

/* PROFILE PAGE */

#profile-page #profile-banner {
  background-color: #e2efff;
  padding: 20px 30px;
}

#profile-page .main-data {
  display: flex;
  align-items: center;
}

#profile-page .main-data #name {
  font-size: 32px;
  margin: 0 0 10px;
}

#profile-page .main-data #company {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

#profile-page #profile-picture {
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #785dfb;
  margin-right: 20px;
}

#profile-page .aditional-data {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-page .aditional-data .contact {
  display: flex;
  align-items: center;
}

#profile-page .aditional-data .contact span {
  margin-right: 10px;
}

#profile-page .aditional-data .contact .social-link {
  color: #785dfb;
  font-size: 25px;
  margin-right: 15px;
  transition: all 0.4s;
}

#profile-page .aditional-data .contact .social-link:hover {
  color: #080b5f;
}

#profile-page .aditional-data .details {
  display: flex;
  align-items: center;
}

#profile-page .aditional-data .details p {
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

#profile-page #properties-listing {
  margin-bottom: 80px;
}

/* PROPERTY CARD */

.property-card {
  margin-top: 60px;
  border-bottom: 2px solid #785dfb;
}

.property-card .card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.property-card .property-title {
  font-size: 32px;
  font-weight: 400;
  max-width: 450px;
}

.property-card .card-body {
  width: 100%;
  display: flex;
}

.property-card .property-thumbnail {
  width: 35%;
  min-height: 100%;
  margin-right: 20px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-card .property-thumbnail .play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.property-card .property-details {
  width: 65%;
}

.property-card .photos-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.property-card .photos-grid .property-photo {
  max-width: 100%;
}

.property-card .photos-grid .photos-overflow {
  width: 60%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2efff;
  cursor: pointer;
}

.property-card .photos-grid .overflow-quantity {
  font-weight: 600;
  margin-left: 5px;
}

.property-card .details-container {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}

.property-card .detail-title {
  text-transform: uppercase;
  color: #785dfb;
  margin: 0 0 5px;
}

.property-card .detail-content {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px;
}

.see-more {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.see-more span {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
